* {
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}

html {

    height: 100vh;
    background: linear-gradient(135deg, #6CB1F8, #2779CF);
    background-repeat: no-repeat;

}

hr {

  width: 100%;

}

body {

  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.cuerpo {

  flex-grow: 1;
  width: 80%;
  align-self: center;

}

.creditos {
  
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-top: auto;
  padding: 10px;
  
}