* {
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}

html {

    height: 100vh;
    background: linear-gradient(135deg, #F52C03, #F8846C);
    background-repeat: no-repeat;
    
}

.cuerpo {
  
  display: grid;
  height: calc(100vh - 194px);/* me ajusta el cuerpo a maximo el tamaño de altura del dispositivo, es decir que si expando el teclado el cuerpo o main, se contrae, debe estar en vh ademas de restar lo que sobra*/
  /* grid-template-column: repeat(2, 1fr); */
  place-content: center;
  margin: 20px;
  
}

.creditos {
  
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  
}