.cabecera {
  display: flex;
  justify-content: space-between;
}

.logo1, .logo2 {
  
  height: 70px;
  width: 70px;
  margin: 10px;
  background-color: white;
  
}

.contenedor_titulos {
  
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  display: grid;
  place-content: center;
  margin: 10px;
  line-height: 1.5;
  
}

.titulo{
  
  font-size: 50px;
  text-align: center;
  
}

.subtitulo {
  
  font-weight: bold;
  text-align: center;
  
}

@media screen and (min-width: 990px) {

  .logo1, .logo2 {
    height: 150px;
    width: 150px;
  }

  .titulo{
    font-size: 70px;
  }

  .subtitulo {
    font-size: 24px;
  }

}