.cabecera {
  
  
  
}

.logo1, .logo2 {
  
  height: 70px;
  width: 70px;
  background-color: white;
  
}

.contenedor_titulos {
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  
}

.titulo{
  
  font-size: 50px;
  
}

.subtitulo {
  
  font-weight: bold;
  text-align: center;
  
}