.seccion_procesos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sub-procesos,
.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: white;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 30px;
  margin: 10px 10px;
  border-radius: 10px;
  background: linear-gradient(135deg, rgb(181, 120, 255), rgb(150, 77, 240));
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;
}

.sub-procesos {
  color: black;
  background: linear-gradient(135deg, rgb(196, 147, 255), rgb(219, 189, 255));
  text-decoration: none;
  /*width: 146px;
  height: 46px;*0
}

.categoria {
  /*width: 150px;
  height: 50px;*/
}

.contenedor_metas {
  display: none;
}

.show {
 display: block;
}

@media screen and (min-width: 990px) {
  .seccion_procesos {
    flex-flow: row;
    justify-content: space-between;
    align-items: normal;
  }

  .sub-procesos,
  .categoria {
    width: 200px;
    font-size: 18px;
    border: 3px solid white;
  }
}
