.cabecera {

  display: flex;
  justify-content: space-between;

}

.logo1, .logo2 {
  
  height: 70px;
  width: 70px;
  margin: 10px;
  background-color: white;
  
}

.contenedor_titulos {
  
  display: grid;
  margin: 10px;
  
}

.titulo{
  
  font-size: 30px;
  text-align: center;
  
}

.subtitulo {
  
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  
}

@media screen and (min-width: 640px) {

  .logo1, .logo2 {
    height: 100px;
    width: 100px;
  }

  .titulo{
    font-size: 50px;
  }

  .subtitulo {
    font-size: 16px;
  }

}

@media screen and (min-width: 990px) {

  .logo1, .logo2 {
    height: 150px;
    width: 150px;
  }

  .titulo{
    font-size: 70px;
  }

  .subtitulo {
    font-size: 24px;
  }

}