.definiciones {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.container-botonBack {
  display: grid;
  place-content: center;
}

.cuadro-texto {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 15px;
  line-height: 1.25;
}

.parrafo {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}

.dot-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 20px;
}

.sub-parrafo {
  margin-bottom: 10px;
} 

.vineta {
  text-align: justify;
  margin-bottom: 10px;
}
