.formulario {
  margin: 20px auto;
  width: 100%;
  /*mientras ajusto directamente los inputs*/
}

.formulario_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 90%;
}

.input_container {
  /*width: 220px;*/
  /*justify-self: center;*/
  position: relative;
}

.label {
  margin-right: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  width: 30%;
}
 