
.input, .boton {
  text-align: center;
  padding: 10px;
  margin: 5px 0px 15px 0px;
  border-radius: 10px;
  border-style: none;
  outline-style: none;
  min-width: 120px;
  box-sizing: border-box;
  /*width: 330px; originalmemte*/
  width: 250px;
}