.ingreso,
.salir,
.editar,
.imprimir,
.descargar {
  font-weight: bold;
  font-size: 14px;
}

.ingreso,
.editar {
  color: black;
  /*width: 40%;*/
  margin: 20px 30% 0px 30%;
}

.editar {
  display: none;
}

.salir {
  display: block;
  text-align: center;
  margin: 15px auto;
  color: white;
  border: 2px solid white;
  background: red;
  /* min-width: 120px;
  max-width: 150px; */
}

.ingreso:hover,
.salir:hover,
.editar:hover,
.imprimir:hover {
  cursor: pointer;
}

.ingreso:active,
.editar:active,
.imprimir:active {
  background-color: #505050;
  color: white;
}

.salir:active {
  background: darkred;
}

.descargar {
  display: inline-block;
  font-family: Arial;
  background-color: #1c3653;
  text-decoration: none;
  color: white;
}

.descargar:active {
  background-color: #014ba0;
}

@media screen and (min-width: 290px) {
  .salir {
    font-size: 10px;
    width: 120px;
  }
}

@media screen and (min-width: 360px) {
  .salir {
    font-size: 12px;
    width: 150px;
  }
}

@media screen and (min-width: 640px) {
  .salir {
    font-size: 16px;
    width: 180px;
  }
}
