.seccion_departamentos {
  
  width: 100%;
  
}

.container_departamentos {
  
  display: grid;
  /* place-self: center; */
  /* grid-template-columns: repeat(3, 1fr); */
  
  
}

.departamentos {
  
  width: 60px;
  height: 40px;
  background: grey;
  border-radius: 5px;
  border: 3px solid orange;
  
}

@media screen and (min-width: 990px)  {
  
  .depoartamentos {
    
    width: 80px;
    height: 60px;

  }

}