.contacto {
  margin: 0 20px -20px 20px;
  width: 30px;
  height: auto;
  cursor: pointer;
  filter: grayscale(100%) opacity(30%);
  border-radius: 50%;
}

.correo:hover {
  box-shadow: 0 0 5px #b42119;
}

.git:hover {
  box-shadow: 0 0 5px #b83fea;
}

.in:hover {
  box-shadow: 0 0 5px white;
}

.contacto:hover {
  filter: none;
}
