.error,
.exito {
  display: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.error {
  background-color: red;
  color: white;
}

.exito {
  background-color: limegreen;
  color: black;
}
