.formulario {
  
  width: 80%;
  place-self: center;
  
}

.label {
  
  color: white;
  font-weight: bold;
  font-size: 18px;
  
}

.metas_actuales, .metas_propuestas, .boton_insertar, .boton_salir {
  
  padding: 10px;
  margin: 5px 0px 15px 0px;
  border-radius: 10px;
  border-style: none;
  outline-style: none;
  width: calc(100% - 20px);
  text-align: center;
  
}