@media screen and (min-width: 300px){
  
  .formulario {
  
  max-width: 400px;
  
}
  
  .usuario_ingreso, .clave_ingreso, .boton_ingreso {
  
  max-width: 300px;
  
}

  .boton_ingreso {
    
    max-width: 100px;
    
  }
  
}